<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>
<body>
  <main>
    <section class="error">
      <h1 class="error__title">404</h1>
      <p class="error__subtitle">Opps! Page not found</p>
      <p class="error__description">The page you were looking for doesn't exists. You may have mistypes the address or the page may have moved</p>
      <a class="error__link" href="index.html">Back to home</a>
    </section>
  </main>
</body>
</html>