<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Film gallery</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="container header__container">
      <h1 class="visually-hidden">Film gallery</h1>
      <div class="header__logo-container">
        <a class="header__logo-link" href="index.html">
          <img src="../images/content/icons8-главная.svg" alt="logo home" width="60" height="60">
        </a>
      </div>
      <div class="header__user-nav">
        <span class="header__user-login"></span>
        <a class="button" href="#">Sign In/Sign Out</a>
      </div>
    </div>
  </header>
  <main class="movie">
    <div class="container">
      <div class="full-movie-card">
      </div>
      <div class="movie__iframe-box"></div>
    </div>
  </main>
</body>
</html>